@charset "UTF-8";

body {
	background-color: silver;
	color: grey;
}
.button_1 {
	height:38;
	background:darkred;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:white;
	margin-top:5px;
	margin-bottom:5px;
}


#showcase {
	min-height: 500px;
	background:url('../img/show2.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	color:yellow;
}

#showcase h1 {
	padding-top: 20px;
	font-size:40px;
	padding-bottom:10px;
}

#showcase p {
	font-size:20px;
}

#newsletter {
	padding:15px;
	color: white;
	background: black;	
}

#newsletter h3 {
	float:left;
	padding:10px;
	font-size:20px;
}

#newsletter form {
	float: right;
	padding-top:5px;
}
#newsletter input {
	margin-bottom:5px;
}

.header {
	color:white;
	background-color: black;
	border-bottom: 3px solid darkred;
}
.clearfix {
	clear: both;
}

.footer {
	padding-bottom:10px;
	color: white;
	background-color: black;
	border-top: 3px solid darkred;
}

.container {
	position: relative;
	min-height: 90vh;
}

.answer {
	color: white;	
}
	

